/*** custom checkboxes ***/

input[type=checkbox],
input[type=radio] {
	display:none;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	font-size: 17px;
	position: relative;
}

input[type=checkbox] + label:before {
	top: 2px;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=radio] + label:before { content: "\f10c"; } /* unchecked icon */

input[type=checkbox] + label:before,
input[type=radio] + label:before {
	letter-spacing: 10px;
}

input[type=checkbox]:checked + label:before { content: "\f046"; }
input[type=radio]:checked + label:before { content: "\f192"; }

input[type=checkbox]:checked + label:before {
	letter-spacing: 7.6px;
}

.checkbox,
.radiobox {
	label {
		padding-left: 0px;
	}
}