.wb-form {
  label {
    font-weight: 100;
  }

  input[type="text"] {
    font-weight: 100;
    padding-left: 0px;

    &:focus {
      border-bottom: 1px solid $brand-danger;
    }
  }
}

.wb-form-group {
  @extend .form-group;
  margin-bottom: 20px;
  color: #c0c0c0;
}
