.wb-border-input {
  border: 1px solid #DBDBDB;
  padding-left: 10px;
}

.wb-border-round-xs {
  border-radius: 3px;
}

.wb-border-input-lg {
  @extend .wb-border-input;
  height: 44px;
}

.wb-input {
  font-size: 16px;
  font-weight: 100;
  color: #000;

  &:focus {
    border-bottom: 1px solid $brand-danger;
  }
}
