@mixin wb-primary-box() {
  padding-top: 83px;
  padding-bottom: 70px;
  background: $primary-color;
  text-align: center;
  color: #fff;
}

@mixin wb-block() {
  padding-top: 110px;
  padding-bottom: 140px;
  background: $secondary-color;
  text-align: center;
}

@mixin wb-block-light() {
  padding-top: 70px;
  padding-bottom: 140px;
  background-color: #FCFBF7;
  text-align: center;
}

@mixin wb-block-title($font-size) {
  font-size: $font-size;
  font-family: $font-family-slab;
  font-weight: bold;
  color: $title-color;
}

@mixin wb-animate() {
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}
