#wb-wanttolearn {
  padding: 38px 5px 80px;
  background-color: $brand-danger;

  .wb-title {
    border-bottom: none;
    font-size: 33px;
    margin-bottom: 15px;
    font-family: $font-family-sans-serif;
    color: #fff;
    font-weight: 400;
    text-transform: none;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    font-weight: 100;
    font-family: $font-family-sans-serif;
    color: #fff;
    font-weight: 300;
  }

  input[type="text"] {
    font-family: $font-family-raleway;
    border: 2px solid $brand-ivory;
    max-width: 590px;
    height: 45px;
    background-color: transparent;
    padding-left: 30px;
    font-size: 15px;
    width: 100%;
    color: $brand-ivory;
  }  

  ::placeholder {
    color: $brand-ivory;
  }
}
